[Unit]
Description=ds3bt start helper
Before=bluetooth.service
After=joystick-ng.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ds3bt_start
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
