[Unit]
Description=ds3bt start helper
Before=bluetooth.service
After=joystick-ng.service

[Service]
Type=simple
ExecStart=/usr/local/bin/ds3bt_start

[Install]
WantedBy=multi-user.target
