[Unit]
Description=jng ds3bt helper (after bluetooth.service)
Requires=joystick-ng.service
After=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/jng-ds3bt-helper after-bt-start

[Install]
WantedBy=bluetooth.service
