# Regole udev per joystick-ng
# jng/control: rw per root e input
SUBSYSTEM=="joystick-ng", ENV{MINOR}=="0", OWNER="root", GROUP="input", MODE="0660"

# jng/driver: rw per root e input
SUBSYSTEM=="joystick-ng", ENV{MINOR}=="1", OWNER="root", GROUP="input", MODE="0660"

# jng/device: rw per tutti
SUBSYSTEM=="joystick-ng", ENV{MINOR}=="2", OWNER="root", GROUP="input", MODE="0666"
