[Unit]
Description=joystick-ng daemon

[Service]
Type=oneshot
ExecStart=/usr/local/bin/jngd
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
