# joystick-ng driver ds3
# Avvia il driver quando un ds3 viene collegato
ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="054c", ATTR{idProduct}=="0268", RUN+="/usr/local/bin/jngctl drv ds3 exec %E{BUSNUM} %E{DEVNUM}"
